:root {
  --primaryColor: #83e1db;
  --blue: #007aff;
  --pink: #f37f83;
  --white: #ffffff;
  --lightGray1: #f8f8f8;
  --lightGray2: #e5e5e5;
  --lightGray3: #d8d8d8;
  --lightGray4: #8e8e93;
  --darkGray: #484c56;
  --black: #000000;
}
